.pull-left{
    float: left;
}
.icon-circle-box{
    border: 1px solid;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    margin-left:3px;
    cursor: pointer;
}
.icon-circle-box i{
    vertical-align: middle;
    color: inherit;
}
.icon-circle-box i::before{
    font-weight: normal;
}
.border-orange{
    color: #f69606;
    border-color: #f69606;
}
.icon-rotate180deg{
    transform: rotate(180deg);
}
.border-lightGrey{
    border-color: #999;
    color: #999;
}
.input input{
    border: 0.5px solid #9b9b9b;
    padding: 2px 4px;
    width: 203px;
    height: 30px;
    border-radius: 5px;
    margin: 0px 3px 0 0;
    color: #9b9b9b;
}

input.disabled{
    cursor: not-allowed;
}

.input input.error{
    border: 1px solid #e22a2a;
}
.err-msg-wrapper{
    display: block;
}
.err-msg-wrapper > .err-msg{
    color: #e22a2a;
    font-size: 10px;
}
.clearfix{
    clear: both;
}
.ant-popover-content{
    width: 150px;
}

.width110{
    width: 110px;
}
.ant-popover-inner-content{
    padding: 12px 0px;
}
.padding-left5{
    padding-left: 5px;
}
.popover-row{
    padding: 4px 0;
    border-bottom: 1px solid #efefef;
}
.ant-popover-inner-content .popover-row:last-child{
    border: 0px;
}
.popover-row.clickable{
    cursor: pointer;
}
.popover-txt{
    line-height: 1;
}
.popover-row.second-popover-child-row{
    padding-left: 5px;
}
.second-popover-child.attr-name{
    margin-bottom: 0;
    font-weight: bold;
    font-size: 11px;
}
.second-popover-child.date-updatedby{
    font-size: 10px;
    margin-bottom: 0;
}