.Dmm-App .h1 {
  color: #555; 

}
.pull-left{
  float: left;
}
.pull-right{
  float: right;
}
div.ant-layout-header{
  background: #4990e2;
}
.ant-layout-footer{
  z-index: 9999;
}
.ant-layout div.ant-layout-header{
  z-index: 9999;
}
div.ant-layout-sider .ant-layout-sider-children{
  height: 100vh;
}
.ant-layout-sider{
  flex: initial!important;
  width: 200px!important;
  min-width: 190px!important;
  max-width: 200px!important;
}
.ant-card-body{
  padding: 0px !important;
}
.ant-tree{
  padding-left: 6px;
}
.coreData-from-keys{
  width: 250px; 
  height: 40px; 
  padding: 8px 0;
}
.core-data-form {
  position: relative;
}
.coreData-form-inputs input.disabled {
  cursor: not-allowed;
  border: 0;
  background: none;
}
.core-data-form .form-row{
  padding: 5px 10px;
}
.core-data-form .form-row:nth-child(odd){
  background: #f5f5f5;
}
.core-data-form .checkbox-wrapper{
  width: 25px;
  display: inline-block;
}


.core-data-form .labelname-wrapper{
  width: 193px;
  display: inline-block;
  font-size: .9em;
  color: #555;
  text-align: right;
  margin-right: 15px;
}
.core-data-form .labelname-wrapper span{
  font-size: 1.1em;
  color: #555;
}
.labelname-wrapper i{
  font-size: 11px;
  margin-left: 3px;
  height: 20px;
  vertical-align: bottom;
}
.core-data-form .input-wrapper{
  width: 220px;
  display: inline-block;
}

.ant-select-selection.ant-select-selection--multiple{
  overflow-y: scroll;
    height: 32px;
}

  .table-bordered{border:1px solid #dee2e6}
  .table-bordered td,.table-bordered th{border:1px solid #dee2e6}
  .table-bordered thead td,.table-bordered thead th{border-bottom-width:2px}
  .table-responsive>.table-bordered{border:0}

  .tree-header-close-icn{
    width: 17px;
    float: right;
    color: #9b9b9b;
    font-size: 15px;
  }
  .tree-header-txt{
    font-weight: bold;
    font-size: 1.5em;
    border-bottom: 1px solid #cdcdcd;
    padding: 5px 15px;
  }
  .coredata-form-header{
    height: 42px;
    padding: 10px 0;
    border-bottom: 1px solid #cdcdcd;
  }
  
.coreData-table thead tr td:first-child{
  width: 200px;
  min-width: 180px;
}
.coreData-table thead tr td:last-child{
  width: 300px;
  min-width: 280px;
}
.coredata-inputlabel-name{
  float: right;
  width: auto;
}

.coreData-table .setting-icn-wrapper{
  float: right;
}

.coreData-table .setting-icn-wrapper i{
  font-size: 1.5em;
  color: #4990e2;
}

.hand-pointer{
  cursor: pointer;
}
table table{
  margin-left: -2px;
}
.table {
    
    margin-bottom: 20px;
}
table {
  background-color: transparent;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
.table-responsive{
  
  overflow-x:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-style:-ms-autohiding-scrollbar
}

.table-striped tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.coreData-table td{
  border-right: 1px solid #eaeaea;
  padding-left: 25px;
  padding-right: 10px;
}

.ant-layout.ant-layout-has-sider > .ant-layout-content{
  overflow-x: inherit!important;
}

.mastertree-resizer{
  width: 20%;
  float: left;
  border-right: solid 1px #ddd;
  margin-right: 10px;
}
.prodtree-resizer{
  width: 20%;
  float: left;
  border-right: solid 1px #ddd;
}
